<template>
    <tr v-bind:class="{ 'bg-danger': mapError }">
        <th>{{presentId + 1 }}</th>
        <td><input type="text" v-model="name"></td>
        <td ><v-select multiple v-model="doNotTarget" :options="names" ></v-select></td>
        <td><div v-if="target!==undefined"><b>{{name}}</b> donne à <b>{{target}}</b></div></td>
        <td><button v-on:click="remove">X</button></td>
    </tr>
</template>

<script>
    export default {
        name: "Present",
        props: ["presentId"],
        data(){
            return{
                name:"",
                doNotTarget: []
            }
        },
        mounted(){
            this.name = this.$store.state.presents[this.presentId].from;
            this.doNotTarget = this.$store.state.presents[this.presentId].doNotTarget;
        },
        beforeUpdate() {
            this.$store.dispatch('editPresent',{id:this.presentId,name:this.name,doNotTarget:this.doNotTarget})
        },
        methods:{
            remove(){
                this.$store.dispatch('remove',this.presentId)
            }
        },
        computed:{
            names() {
                let names = [];
                for(let present of this.$store.state.presents){
                    if(present.from !== this.name && !this.doNotTarget.includes(present.from)){
                        names.push(present.from);
                    }
                }
                return names;
            },
            mapError(){
                return this.names.length === 0
            },
            target(){
                return this.$store.state.presents[this.presentId].target;
            }
        }

    }
</script>
<style>

</style>
