<template>
  <div id="app">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" width="5%">#</th>
        <th scope="col" width="10%">Nom</th>
        <th scope="col" width="50%">Eviter</th>
        <th scope="col" width="25%">Cible</th>
        <th scope="col">Edition</th>
      </tr>
      </thead>
      <tbody>
        <tr is="present"
                v-for="(present, index) in presents"
                v-bind:key="present.uid"
                v-bind:presentId="index"
        ></tr>
      </tbody>
    </table>
    <button v-on:click="addRow">ajouter une ligne</button>
    <button v-on:click="scramble">mélanger les cadeaux</button>
  </div>
</template>

<script>
import Present from './components/Present.vue'

export default {
  name: 'app',
  components: {
    Present
  },
  methods:{
    addRow(){
      this.$store.dispatch('addPresent')
    },
    scramble() {
      this.$store.dispatch('scramble')
    }
  },
  computed:{
    presents(){
      return this.$store.getters.presents
    }
  }
}
</script>
